
<h2 class="izda">Estadísticas:</h2>
<hr><br>
<table> 
    <tr> 
       <td>Número de preguntas: </td> <td class="rdo"> <%= statistics.n_preguntas %> </td>
    </tr> 
    <tr>
        <td>Número comentarios totales: </td> <td class="rdo"> <%= statistics.n_comentarios %></td> 
	</tr> 
	<tr> 
       <td>Número medio de comentarios por pregunta: </td> <td class="rdo"> <%= statistics.media_comentarios_pregunta %> </td>
    </tr> 
    <tr>
        <td>Número de preguntas sin comentarios: </td> <td class="rdo"> <%= statistics.n_preguntas_sin_comentarios %></td> 
	</tr> 
	<tr>
        <td>Número de preguntas con comentarios: </td> <td class="rdo"> <%= statistics.n_preguntas_con_comentarios %></td> 
	</tr> 
</table>